html,body,#root{
    width: 100%;
    height: 100%;
    background: #000080;
}
.login-form {
    max-width: 400px;
    min-width: 360px;
    margin: 20px auto;
    position: absolute;
    left: 50%;
    top:20%;
    padding:30px;
    background: #fff;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}
